        <div class='mainSection'>
            <div class='calendarBox'>
                <button class="addEventButton" ng-click="showModal = !showModal">Create Event</button>
            <div ui-calendar="uiConfig.calendar" config="uiConfig.calendar" id="calendar" ng-model="eventSources"></div>
            </div>
        </div>




        <div id="myModal" class="modal" ng-show="showModal">
    <div class="event-form">
        <form>
            <div>
                <h1>Add Event</h1>
            <button class='closeEventButton' ng-click="showModal = !showModal">X</button>
            </div>
            <input type="text" placeholder="Event Title" ng-model="event.title">
            <input type="text" placeholder="Description" ng-model="event.description">
            <input type="datetime-local" placeholder="start time" ng-model="event.start_time">
            <input type="datetime-local" placeholder="end time" ng-model="event.end_time">
            <button type="button" class="addEventButton" ng-click="addEvent(event)">+</button>
        </form>

    </div>