<div class='codewarsBox'>
    <div class='basicCodewarsBox'>
        <h2>Completed Basic</h2>

        <div>
            <input ng-model="basicName"></input>
            <button ng-click="basicList(basicName)">Add</button>
        </div>

        <div ng-repeat='b in basic'>
            <div class='problems'>
                <div ng-click="removeBasic(b.name)">X</div>
                <p>{{ b.name }}</p>
            </div>
        </div>
    </div>

    <div class='advancedCodewarsBox'>
        <h2>Completed Advanced</h2>

        <div>
            <input ng-model="advancedName"></input>
            <button ng-click="advancedList(advancedName)">Add</button>
        </div>

        <div ng-repeat='a in advanced'>
            <div class='problems'>
                <div ng-click="removeAdvanced(a.name)">X</div>
                <p>{{ a.name }}</p>
            </div>

        </div>
    </div>

</div>