<section class='goalSection'>
    <div class='goalBoxes'>
        <h3>Megan</h3>
        <div class='goalBox'>
            <div ng-repeat='goal in m1Goals'>
                <p>{{goal.goal}}</p>
                <button ng-click='removeGoal(goal.goal, goal.mentorid)'>X</button>
            </div>

        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Taylor</h3>
        <div class='goalBox'>
            <div ng-repeat='goal in m2Goals'>
                <p>{{goal.goal}}</p>
                <button ng-click='removeGoal'>X</button>
            </div>


        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Ian</h3>
        <div class='goalBox'>
            <div ng-repeat='goal in m3Goals'>
                <p>{{goal.goal}}</p>
                <button ng-click='removeGoal'>X</button>
            </div>


        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
</section>