<section class='goalSection'>
    <div class='goalBoxes'>
        <h3>Megan</h3>
        <div class='goalBox'>


        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Taylor</h3>
        <div class='goalBox'>


        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Ian</h3>
        <div class='goalBox'>


        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
</section>