<div class='homeBox'>
    <a href='https://docs.google.com/spreadsheets/d/16qogrjT4Vm7tJm6A3L8IHGjz-YOsQRC99dnsmR1Qwgs/edit#gid=0' target="_blank">
            <h2>wpr27 Calendar</h2>
    </a>
    <a href='https://devmountain.com/login?bounce=q&redirect_uri=https%3A%2F%2Fq.devmountain.com%2Fauth%2Fdevmtn%2Fcallback&client_id=vYpmsIxJtMNW7626QntOklg9hk7IBxiGFUY2Sf6vYWNhcgLPgDg7FZb8PlueGO0'
        target="_blank">
            <h2>The Q</h2>
    </a>
    <a href='https://trello.com/b/ynOayqjN/wpr27' target="_blank">
            <h2>Weekly Goals</h2>
    </a>
    <a>
        <div style="flex-direction: column;">
            <h2>*Attendance</h2>
            <h2>*Standups in Crew Channel</h2>
            <h2>*One-on-Ones</h2>
        </div>
    </a>
    //

</div>