  <section class='linksPage'> 
<div class='bigBoxes'>     
<div class='linkBoxes'>
            <h2>HTML/CSS</h2>
            <div>
                <a href='https://medium.freecodecamp.org/css-positioning-explained-by-building-an-ice-cream-sundae-831cb884bfa9'>CSS-Positioning Explained by Building an Ice Cream Sundae</a>
                <a href='http://flexboxfroggy.com/'>Flexbox Froggy</a>
                <a href='https://codepen.io/enxaneta/pen/adLPwv'>Flexbox Playground</a>
                <a href='https://css-tricks.com/snippets/css/keyframe-animation-syntax/'>Key Frame Animation Syntax</a>
                <a href='https://css-tricks.com/almanac/properties/a/animation/'>Animations</a>
                <a href='https://www.w3schools.com/css/css_pseudo_elements.asp'>CSS Pseudo Elements</a>
                <a href='http://www.the-art-of-web.com/css/css-animation/'>CSS Animations</a>
                <a href='http://html5doctor.com/html-5-reset-stylesheet/'>Reset.css</a>
                <a href='http://easings.net/'>Easing-CSS/JS</a>
                <a href='https://medium.muz.li/'>Muzli Design Inspiration</a>
                <a href='https://fonts.google.com/'>Google Fonts</a>
                <a href='http://fontawesome.io/icons/'>Font Awesome Icons</a>
                <a href='https://www.bootstrapcdn.com/fontawesome/'>Font Awesome CDN</a>
                <a href='https://css-tricks.com/examples/ShapesOfCSS/'>CSS Shapes</a>
                <a href='https://tympanus.net/codrops/category/tutorials/'>Codrops tutorials</a>
                <a href='https://unsplash.com/'>Unsplash</a>
                <a href='https://pixabay.com/'>Pixabay</a>
                <a href='http://learnlayout.com/toc.html'>CSS Layout</a>
                <a href='http://flexbox.help/'>Flexbox Help</a>
                <a href='http://flexboxzombies.com/p/flexbox-zombies'>Flexbox Zombies</a>
                <a href='https://docs.emmet.io/cheat-sheet/'>HTML/CSS Cheatsheet</a>
                <a href='http://jsfiddle.net/audetwebdesign/FqMXz/'>Parallax Effect With Cutout</a>
                <a href='http://qnimate.com/creating-a-slider-using-html-and-css-only/#prettyPhoto'>Slider Images HTML/CSS Only</a>
                <a href='https://www.webdesignerdepot.com/2014/05/8-simple-css3-transitions-that-will-wow-your-users/'>CSS Transitions</a>
                </div>
        </div>

        <div class='linkBoxes'>
            <h2>Javascript</h2>
            <div>
            <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/filter'>filter()</a>
            <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/forEach'>forEach()</a>
            <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/charCodeAt'>charCodeAt()</a>
            <a href='https://github.com/zacanger/pineapple-curry/tree/solutions'>Pineapple Curry Codewars</a>
            <a href='http://jsbin.com/?html,css,js,output'>JS Bin</a>
            <a href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Math/pow'>Math.pow()</a>
            <a href='https://egghead.io/'>Egghead.io</a>
            <a href='https://javascript30.com/'>#Javascript30</a>
            <a href='https://codefights.com/'>CodeFights</a>
            <a href='https://codeburst.io/javascript-why-does-3-true-4-and-7-other-tricky-equations-9dd13cb2a92a'>JS Tricky Equations</a>
            <a href='https://www.interviewcake.com/question/javascript/stock-price'>Practice JS Interview Questions</a>
            <a href='https://medium.freecodecamp.org/my-giant-javascript-basics-course-is-now-live-on-youtube-and-its-100-free-9020a21bbc27'>JS Basics Course</a>
            </div>
        </div>


        <div class='linkBoxes'>
            <h2>React</h2>
            <div>
            <a href='https://www.npmjs.com/package/react-stripe-checkout'>React Stripe Checkout</a>
            <a href='https://staminaloops.github.io/undefinedisnotafunction/images/react-lifecycle.jpg'>React Lifecycle</a>
            <a href='https://github.com/facebookincubator/create-react-app'>Create React App</a>
            <a href='https://tylermcginnis.com/courses/'>Tyler Mcginnis React Courses</a>
            <a href='https://github.com/DevMountain/DMWebAH-Syllabus#week15'>React Syllabus</a>
            </div>
        </div>

        <div class='linkBoxes'>
            <h2>AngularJS</h2>
            <div>
                <a href='https://material.angularjs.org/latest/demo/menu'>Material AngularJS</a>
                <a href='https://docs.angularjs.org/api/ng/directive/ngOptions'>Ng-Options</a>
            </div>
        </div>

        </div>  
   <div class='bigBoxes'>  

        <div class='linkBoxes'>
            <h2>Libraries or Plugins</h2>
            <div>
            <a href='https://daneden.github.io/animate.css/'>Animate.css</a>
            <a href='https://greensock.com/docs#/HTML5/'>Greensock</a>
            <a href='http://michalsnik.github.io/aos/'>AOS</a>
            <a href='https://scrollrevealjs.org/'>ScrollReveal</a>
            <a href='http://kenwheeler.github.io/slick/'>Slick</a>
            <a href='https://aframe.io/'>A-Frame</a>
            <a href='https://github.com/gnordstrom/A-Frame-boilerplate'>A-Frame A-Frame Boilerplate</a>
            <a href='http://scrollmagic.io/examples/advanced/section_wipes_manual.html'>ScrollMagic</a>
            <a href='http://jquery.com/'>JQuery</a>
            <a href='https://oscarotero.com/jquery/'>JQuery Cheatsheet</a>
            <a href='https://material.angularjs.org/latest/demo/gridList'>AngularJS Gridlist</a>
            <a href='http://underscorejs.org/'>UnderscoreJS</a>
            <a href='https://safi.me.uk/typewriterjs/'>TypewriterJS</a>
            <a href='https://auth0.com/'>Auth0</a>
            </div>
        </div>

        <div class='linkBoxes'>
            <h2>D3</h2>
            <a href='https://github.com/BrackCarmony/force-examples'>Brack's D3 Example</a>
            <a href='https://github.com/BrackCarmony/d3-demo-day/blob/master/demo1/index.html'>D3 Demo</a>
            <a href=''></a>
            <a href=''></a>
            <a href=''></a>
        </div>

        <div class='linkBoxes'>
            <h2>Other</h2>
            <div>
            <a href='https://developers.google.com/web/tools/chrome-devtools/javascript/'>Debugger Chrome</a>
            <a href='https://developers.google.com/web/tools/chrome-devtools/?utm_source=dcc&utm_medium=redirect&utm_campaign=2016q3'>Chrome DevTools</a>
            <a href='https://cmd-t.webydo.com/75-of-the-best-resources-for-web-designers-98208e8709a'>Resources for Web Designers</a>
            <a href='https://www.elephantsql.com/'>ElephantSQL</a>
            <a href='https://developers.google.com/web/tools/chrome-devtools/?utm_source=dcc&utm_medium=redirect&utm_campaign=2016q3'></a>
            <a href='https://vimeo.com/devmountainwebdev/videos'>DevMtn Vimeo Videos</a>
            <a href='https://resources.devmountain.com/#/'>DevMtn Learning Resources</a>
            <a href='https://http.cat/'>Http Cat</a>
            <a href='http://www.pythontutor.com/visualize.html#'>Python Tutor</a>
            <a href='http://zty.pe/'>Typing Game</a>
            <a href='http://slides.com/jeremyrobertson/software-development-lifecycle#/'>Software Development Lifecycle</a>
            <a href='https://podio.com/login?provider=podio&return_to=https%3A%2F%2Fpodio.com%2Fmyorg-rf9zs9rhye%2Fproject-management%2Fapps%2Fdeliverables#/views/32633000'>Podio</a>
            <a href='https://facebook.github.io/jest/'>Jest Testing</a>
            <a href='http://slides.com/kentcdodds/testing-workshop#/'>Testing Workshop</a>
            <a href='https://hub.github.com/'>Hub Github</a>
            <a href='http://realfavicongenerator.net/'>Favicon Generator</a>
            <a href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet'>Readme Markdown Cheatsheet</a>
            <a href='https://www.noisli.com/'>Noisli</a>
            <a href='https://www.malwarebytes.com/mac/'>Malwarebytes</a>
            <a href='https://www.secureserver.net/domains/search.aspx?ci=53972&prog_id=424924&pl_id=424924'>Domains</a>
            <a href='http://www.convertcsv.com/csv-to-sql.htm'>Convert CSV to SQL</a>
            </div>
        </div>

        <div class='linkBoxes'>
            <h2>Job Stuff</h2>
            <a href='https://startbootstrap.com/'>Bootstrap Themes and Templates</a>
            <a href='http://practicaltypography.com/resumes.html'>Resume Typography Help</a>
            <a href='http://practicaltypography.com/summary-of-key-rules.html'>Typography Summary</a>
            <a href='https://dcrazed.com/free-responsive-html5-css3-templates/'>Responsive Templates</a>
            <a href='https://docs.google.com/spreadsheets/d/1y9Y6ZJcTNPDWV9sugP1VTKFNKvDJ8KW3FaOeJ89_Sa4/edit#gid=0'>Job Help Spreadsheet</a>
            <a href='https://docs.google.com/document/d/10gjpjAOJPg8KxOwLb6zz0lRvjHo71TDhnc1_XMcHqxg/edit'>Post-Grad RoadMap</a>
        </div>


        <div class='linkBoxes'>
            <h2>Hosting</h2>
            <div>
            <a href='https://surge.sh/'>Surge.sh</a>
            <a href='http://surge.sh/help/adding-a-custom-domain'>Surge-Custom Domain</a>
            <a href='https://dashboard.heroku.com/auth/heroku/callback?!=&code=0c947312-978c-44da-a757-e5011ef543aa'>Heroku</a>
            <a href='https://pages.github.com/'>Github Pages</a>

            </div>
        </div>

        <div class='linkBoxes'>
            <h2>Ionic</h2>
            <div>
            <a href='https://creator.ionic.io/app/designer/d51404dd3df3'>Ionic Creator</a>
            <a href='http://ionicons.com/'>Ionic Icons</a>
            <a href='https://forum.ionicframework.com/t/how-to-install-all-my-codrova-plugins-listed-in-package-json/21328'>Installing Cordova Plugins</a>
            </div>
        </div>

</div>
  </section>