<section class='mainSection'>
    <div class='resourcesBox'>
        <div>
            <h2>Precourse</h2>
                <a href='https://github.com/DevMountain/mentor-handbook' target="_blank">Mentor Handbook</a>
                <a href='https://docs.google.com/spreadsheets/d/1RMBYQhjdRq-Tz5u8lV-SW_nYOyY693gkpuo0ho5szdc/edit?ts=5a021f73#gid=399055311' target="_blank">Student Tracker</a>
                <a href='https://devmountain.com/dashboard#/mentor' target="_blank">Precourse Work Tracker</a>
                <a href='https://github.com/DevMountain/immersive-mentor-guide' target="_blank">Mentor Guide</a>
                <a href='https://docs.google.com/document/d/1-cBAylOv2a3RMbtsyAUfdjJhmaKfH-Yn6LqLqsQmEHo/edit' target="_blank">Mentor Interview</a>
        </div>
        <div>
            <h2>Cohort</h2>
                <a href='https://github.com/DevMountain' target="_blank">DevMountain Github</a>
                <a href='https://sso3.capella.edu/openam/UI/Login?goto=http%3A%2F%2Fportal.capella.edu%3A80%2Fpsp%2Fportal%2FEMPLOYEE%2FEMPL%2Fh%2F%3Ftab%3DDEFAULT&gx_charset=UTF-8' target="_blank">Timesheet</a>
                <a href='https://github.com/DevMountain/morning_toy_problems' target="_blank">Morning Toy Problems</a>
                <a href='https://docs.google.com/spreadsheets/d/10znVDkk9SSWjgm2_OOyoNl6qDMPC2D1dfmewGErBKtQ/edit?ts=58c9aad6#gid=1115747244' target="_blank">Assessment Tracker</a>
                <a href='https://docs.google.com/spreadsheets/d/1NnR_H7F6Ocec5QttvUbtUrtSZAw1vbfDjFquP_HYTl8/edit' target="_blank">Project Score Rubric</a>
        </div>

    </div>
</section>