<section class='mainSection'>
    <div class='resourcesBox'>
        <div>
            <h2>Precourse</h2>
                <a href='https://docs.google.com/spreadsheets/d/1p1gjc3y_5aEOHEZXn-q_sMs25HbQQWS2vGGT93kMAA0/edit#gid=0'>Student Tracker</a>
                <a href='https://devmountain.com/dashboard#/mentor'>Precourse Work Tracker</a>
                <a href='https://github.com/DevMountain/immersive-mentor-guide'>Mentor Guide</a>
                <a href='https://docs.google.com/document/d/1-cBAylOv2a3RMbtsyAUfdjJhmaKfH-Yn6LqLqsQmEHo/edit'>Mentor Interview</a>
                <a href='https://codecard.io/a/login?redirect=%257B%2522state%2522%253A%2522authed.groups%2522%252C%2522params%2522%253A%257B%257D%257D'>Code Cardio</a>
        </div>
        <div>
            <h2>Cohort</h2>
                <a href='https://github.com/DevMountain'>DevMountain Github</a>
                <a href='https://sso3.capella.edu/openam/UI/Login?goto=http%3A%2F%2Fportal.capella.edu%3A80%2Fpsp%2Fportal%2FEMPLOYEE%2FEMPL%2Fh%2F%3Ftab%3DDEFAULT&gx_charset=UTF-8'>Timesheet</a>
                <a href='https://github.com/DevMountain/morning_toy_problems","Toy problems: https://github.com/DevMountain/morning_toy_problems'>Morning Toy Problems</a>
                <a href='https://docs.google.com/spreadsheets/d/10znVDkk9SSWjgm2_OOyoNl6qDMPC2D1dfmewGErBKtQ/edit?ts=58c9aad6#gid=833944481'>Student Tracker</a>
                <a href='https://docs.google.com/spreadsheets/d/1NnR_H7F6Ocec5QttvUbtUrtSZAw1vbfDjFquP_HYTl8/edit'>Project Score Rubric</a>
        </div>

    </div>
</section>