<section class='goalSection'>
    <div class='goalBoxes'>
        <h3>Megan</h3>
        <div class='goalBox'>
            <div ng-repeat='todo in m1Todos'>
                <p>{{todo.todo}}</p>
                <button>X</button>
            </div>

        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Taylor</h3>
        <div class='goalBox'>
            <div ng-repeat='todo in m2Todos'>
                <p>{{todo.todo}}</p>
                <button>X</button>
            </div>

        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
    <div class='goalBoxes'>
        <h3>Ian</h3>
        <div class='goalBox'>
            <div ng-repeat='todo in m3Todos'>
                <p>{{todo.todo}}</p>
                <button>X</button>
            </div>

        </div>
        <div class='inputBox'>
            <input />
            <button>+</button>
        </div>

    </div>
</section>