body {
     background: #222; 
    font-family: sans-serif;
}

.mainSection{
    width: 100%;
    height: 100vh;
}

h1 {
    color: #528da4;
    letter-spacing: 3px;
    text-align: center;
}

.calendarBox {
    width: 80%;
    margin-left: calc(10% - 30px);
    border: 1px solid white;
    padding: 30px;
}

.fc-view-container *, .fc-view-container :after, .fc-view-container :before {
     background: white; 
}

.fc-unthemed td.fc-today {
    /* color: #528da4; */
}

.fc-unthemed .fc-today {
    /* color: #528da4; */
}